body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h3 {
    font-size: 35px;
    font-weight: 900;
}
#grid {
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    border: 3px;
    border-top-color:  red;
    border-right-color: greenyellow;
    border-bottom-color: blue;
    border-left-color: yellow;
    padding: 3px;

}